<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ashirayyan.pulmonarycare">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".AccountAcivity.LogInActivity" />
        <activity android:name=".AccountAcivity.SignupActivity" />
        <activity android:name=".AccountAcivity.ResetPasswordActivity" />
        <activity android:name=".AccountAcivity.Main2Activity" />
        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PatientsList" />
        <activity android:name=".Details"></activity>
    </application>

</manifest>